  
    <div class"field col-xs-3" id = "card_text">
    <% if @card_selected.nil? %>
    	<%= "You don't have a card selected." %>
    <% else %>
    	<%= "#{@card_selected.card_number}" %>
      <br>
      <%= "#{@card_selected.expiration}" %>
      <br>
      <%= "#{@card_selected.security_code}" %>
      <br>
      <%= "#{@card_selected.card_type}" %>
      <br>
    <% end %>
  	</div>