<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
   
        <% if @order.order_items.size == 0 %>
            <p class="text-center">
              There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
            </p> %>
        <% else %>
            <table class = "table table-striped">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item amount</th>
                <th>Subtotal</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
            <% @order.order_items.each do |order_item| %>
            <tr>
              <td><%= @sale_items.find(order_item.sale_item_id).item_name %></td>
              <td><%= order_item.quantity %></td>
              <td><%= number_to_currency order_item.total_price %></td>
            </tr>
          <% end %>
             </tbody>
              </table>
          <h3 class="text-right">Total Price: <span style="color: green"><%= number_to_currency current_order.subtotal %></span></h3>
        <% end %>



  <div class="row">
  <%= render "address_row" , f: f , address_selected: @address_selected%>
  <div class="col-xs-0  ">

      <% if current_user.addresses.size == 0 %>

        <select><option>You don't have a stored address yet.</option></select>

      <% else %>
        
          <%=select :wishlist_id, options_from_collection_for_select(current_user.addresses, 'id', 'name'), {:include_blank => "Select a presaved addresses"} ,onchange: "#" %>

            

      <% end %>

  </div>
  </div>
  <%= render "card_row" , f: f,  card_selected: @card_selected %>
  <div class="col-xs-0  ">

      <% if current_user.addresses.size == 0 %>

        <select><option>You don't have a stored card yet.</option></select>

      <% else %>
        
          <%=select :wishlist_id, options_from_collection_for_select(current_user.cards, 'id', 'name'), {:include_blank => "Select a presaved addresses"} ,onchange: "#" %>

            

      <% end %>

  </div>
  </div>
  </div>
  <div class="field">
    <%= f.hidden_field :trackingnumber %>
  </div>
  <div class="actions text-right">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>
