<p id="notice"><%= notice %></p>

<p>
  <h1>Order Items</h1>
</p>


  <table class = "table table-striped">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item amount</th>
                <th>Subtotal</th>
                <th>Location</th>
                <th>Trackingnumber</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
            <% @order.order_items.each do |order_item| %>
            <tr>
              <td><%= @sale_items.find(order_item.sale_item_id).item_name %></td>
              <td><%= order_item.quantity %></td>
              <td><%= number_to_currency order_item.total_price %></td>
              <td><%= SaleItem.find(order_item.sale_item_id).item_location %></td>
              <td>
                  <% if order_item.trackingnumber.nil? %>
                    <%= "Not shipped yet."%>
                  <% else %>
                    <%= order_item.trackingnumber%>
                  <% end %>
              </td>
            </tr>
          <% end %>
             </tbody>
              </table>


<%= link_to 'Back', profile_url, :class => "btn btn-primary"%>
