<%= form_for(@sale_item) do |f| %>
  <% if @sale_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_item.errors.count, "error") %> prohibited this sale_item from being saved:</h2>

      <ul>
      <% @sale_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :item_description %><br>
    <%= f.text_area :item_description %>
  </div>
  <div class="field">
    <%= f.label :item_price %><br>
    <%= f.text_field :item_price %>
  </div>
  <div class="field">
    <%= f.label :item_location %><br>
     <%= f.select :item_location, options_from_collection_for_select(current_user.addresses, 'city', 'name'), {:prompt => "please add an address to sell items."}%>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <select name="sale_item[category_id]" id="sale_item_category_id">
          <% if @categories.nil? %>
              <option>
                You don't have a category yet.
              </option>
          <% else %>
              <% @categories.each do |category| %>
              <option value=<%= category.id%>><%= category.name%></option>
              <% end %>
          <% end %>

    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
