<%= form_for(@sale_item) do |f| %>
  <% if @sale_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_item.errors.count, "error") %> prohibited this sale_item from being saved:</h2>

      <ul>
      <% @sale_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :item_description %><br>
    <%= f.text_area :item_description %>
  </div>
  <div class="field">
    <%= f.label :item_price %><br>
    <%= f.text_field :item_price %>
  </div>
  <div class="field">
    <%= f.label :item_location %><br>
    <%= f.text_field :item_location %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
