
<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= sale_item.item_name %></small></h4>
    </div>
    <div class="col-xs-8">
      <h5><%= "Seller: #{sale_item.user_id}" %></small></h5>
    </div>

    <div class="col-xs-4">
      <%= form_for order_item, remote: true do |f| %>
      
      <!--<%= link_to "Reviews", { :controller => :product_reviews, :action => :index, :id => sale_item.id, :method => :post }%> -->
      
      <%= link_to "Product reviews", sale_item_product_reviews_path(sale_item.id)%>      


        <h4 class="text-right">Unit Price: <span style="color: green">
          <%= number_to_currency sale_item.item_price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
            <%= f.hidden_field :sale_item_id, value: sale_item.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
        </div>
      
      <% end %>      

    </div>
    
  </div>
</div>
