<% if @sale_items.size == 0%>
<h1 align="center">Hey no one is selling!</h1>
<%else%> 
<h1>Sale Items</h1>
<p id="notice"><%= notice %></p>
  <div class="row">
  <div class="col-xs-6">
    <% @sale_items.each do |sale_item| %>
      <%= render "item_row", sale_item: sale_item, order_item: @order_item, wishlist_item: @wishlist_item, users: @users%>
    <% end %>
  </div>
  <div >
	<%= select_tag :category_id, options_from_collection_for_select(@categories, 'id', 'name'), {:prompt => "Select a category", onchange: "redirectToSaleItem(this.value)"}%>
	</div>
<%= javascript_tag do %>
  function redirectToSaleItem(current_category){
     window.location = "<%= url_for(:controller => 'sale_items', :action => 'index') %>?current_category="+current_category;
  }
<% end %>
</div>
<%end%>
