<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @sale_item.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @sale_item.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @sale_item.item_price %>
</p>

<p>
  <strong>Item location:</strong>
  <%= @sale_item.item_location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @categories.find(@sale_item.category_id).name %>
</p>

<%= link_to 'Edit', edit_sale_item_path(@sale_item), :class => "btn btn-primary"%> |
<%= link_to 'Back', categories_path, :class => "btn btn-primary" %>
