<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>""
<% end %>

<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', sale_item: order_item.sale_item, order_item: order_item, show_total: true %>
<% end %>

<h3 class="text-right">Total Price: <span style="color: green"><%= number_to_currency current_order.subtotal %></span></h3>
<div class="text-right">
<%= link_to "Check out" , "#",  class: "btn btn-success"%>
</div>
<div class="text-right">
<%= link_to "Save to wishlist", "#",  class: "btn btn-warning"%>
</div>
<% end %>