<h2>Hello <%= "#{@user.first_name} #{@user.last_name}" %></h2>
<hr>
<h4>
	Address
</h4>
<div>
   <table class = "table table-striped">
  <thead>
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>Zip Code</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @user.addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.city %></td>
        <td><%= address.zipcode %></td>
        <td><%= link_to 'Edit', edit_address_path(address), :class=>"btn btn-primary btn-xs" %> | <%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add address', new_address_path, :class => "btn btn-primary btn-sm"%>
</div>
<hr>
<h4>
	Payment information
</h4>

<div>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Expiration</th>
        <th>Card type</th>
        <th>Security Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user.cards.each do |card| %>
        <tr>
          <td><%= card.card_number %></td>
          <td><%= card.name %></td>
          <td><%= card.expiration %></td>
          
          <% if card.card_type == 'visa'%>
              <td><%= image_tag '/visacard.png' %></td>
          <% elsif card.card_type == 'master' %>
              <td><%= image_tag '/mastercard.png' %></td>
          <%else%>
              <td><%= card.card_type %></td>
          <%end%>
          
          <td><%= card.security_code %></td>
          <td><%= link_to 'Edit', edit_card_path(card),:class=>"btn btn-primary btn-xs" %> | <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add Card', new_card_path, :class => "btn btn-primary btn-sm"%>
</div>

<hr>

<div>
  <h4>
  Deliveries
  </h4>
  <table class = "table table-striped">
    <thead>
    <tr>
      <th>Order</th>
      <th>User</th>
      <th>Address</th>
      <th>Card</th>
      <th>Trackingnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% if @user.deliveries.size == 0 %>
  <tbody>
  <tr>
  <td>  There is no delivery for you. </td>
  </tr>
  </tbody>
  </table>
<% else %>
  <thead>
    <tr>
      <th>Order</th>
      <th>User</th>
      <th>Address</th>
      <th>Card</th>
      <th>Trackingnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.order %></td>
        <td><%= delivery.user %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.card %></td>
        <td><%= delivery.trackingnumber %></td>
        <td><%= link_to 'Show Item Details', delivery %></td>
        <td><%= link_to 'Change Details', edit_delivery_path(delivery) %></td>
        <td><%= link_to 'Cancel', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
     </table>
<% end %>
</div>