<%= params%>
<%= form_for(@product_review) do |pr| %>

  <div class="field">
    <%= pr.label :rating %><br>
    <%= pr.text_field :rating %>
  </div>

  <div class="field">
    <%= pr.label :review_title %><br>
    <%= pr.text_field :review_title %>
  </div>

  <div class="field">
    <%= pr.label :review_content %><br>
    <%= pr.text_area :review_content %>
  </div>

  <%= pr.hidden_field :sale_item_id, :value => @sale_item_id %>

  <div class="actions">
    <%= pr.submit %>
  </div>

<% end %>
