<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :parent_category_id %><br>
    <select name="category[category_id]" id="category_category_id">
          <% if @categories.nil? %>
              <option>
                You don't have a category yet.
              </option>
          <% else %>
              <% @categories.each do |category| %>
              <option value=<%= category.id%>><%= category.name%></option>
              <% end %>
          <% end %>

    </select> 

  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>
