<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Parent Category:</strong>
  <%= link_to "#{@category.parentcategory.name}", category_path(:id => @category.parentcategory.id), :class => "btn btn-primary"%>
</p>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>Subcategories</th>
    </tr>
  </thead>

  <tbody>
  	<% @child_categories.each do |category| %>
  		<tr>
  			<td> <%= link_to "#{category.name}", category_path(:id => category.id),:class => "btn btn-primary" %> </td>	
  		</tr>	
  	<% end %> 
  </tbody>

</table>
<hr>
<strong>Containing Sale Items</strong>

<table class ="table table-stripped">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item description</th>
      <th>Item price</th>
      <th>Item location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.sale_items.each do |sale_item| %>
      <tr>
        <td><%= sale_item.item_name %></td>
        <td><%= sale_item.item_description %></td>
        <td><%= sale_item.item_price %></td>
        <td><%= sale_item.item_location %></td>
        <td><%= link_to 'Show', sale_item ,:class => "btn btn-primary"%></td>
        <td><%= link_to 'Edit', edit_sale_item_path(sale_item) ,:class => "btn btn-primary"%></td>
        <td><%= link_to 'Destroy', sale_item, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_category_path(@category) ,:class => "btn btn-primary"%> |
<%= link_to 'Back', categories_path ,:class => "btn btn-danger"%>
