 
        




<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= sale_item.item_name %></h4>
      <h4>Item Price: <span style="color: green"><%= number_to_currency sale_item.item_price %></span></h4>
    </div>
    
    <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-8 text-right">
                    &nbsp;
                    &nbsp;
                    <div class="col-xs-12 text-right">
            <div class="btn-group text-right"><%= link_to "Details", "#",class: "btn btn-primary"%></div>
            <div class="btn-group"><%= link_to "Pay", "#", class: "btn btn-primary"%></div>
            <% if Wishlist.find(params[:id]).user_id.to_i == current_user.id.to_i%>
              <div class="btn-group">
              <%= link_to "Delete", wishlist_item_path(wishlist_id: wishlist_item.wishlist_id, id: wishlist_item.id), { data: { confirm: "Are you sure you wish to delete the item '#{wishlist_item.sale_item.item_name}' from your wishlist?"}, method: :delete, remote: true, class: "btn btn-danger" } %>
              </div>
            <% end  %>
            </div>
          </div>
        </div>
    </div>
    
  </div>
</div>