
<h1><%= "#{User.find(@current_wishlist.user_id).email}'s wishlist: " + @current_wishlist.name%></h1>
<p id="notice"><%= notice %></p>
<% if !@wishlist_item.nil? && @wishlist_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @wishlist_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% @wishlist_items.reload %>
<% if @wishlist_items.size == 0 %>
  <p class="text-center">
    There is no item in this list.
  </p>
<% else %>
      
      <% @wishlist_items.each do |wishlist_item| %>
        <%= render 'wishlists/list_row', sale_item: wishlist_item.sale_item, wishlist_item: wishlist_item, current_wishlist: @current_wishlist%>
      <%end%>
      
<% end %>

<%= link_to "Check out" %>