<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="collapse navbar-collapse navbar navbar-default navbar-fixed-top">
    
    <ul class="nav navbar-nav pull-right">

      <% if user_signed_in? %>
        <li class="pull-left cart-text">
          <%= render 'layouts/cart_text' %>
        </li>
        <li>
          <%= link_to "Hello #{current_user.email}" rescue nil %>
        </li>
        <li class='active'>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
        <li>
          <%= link_to('Edit Registration', edit_user_registration_path) %>
        </li>
      <% else %>
        <li class='active'>
        <%= link_to('Login', new_user_session_path)  %>  
        </li>
        <li>
        <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>
      <li>
    </ul>
    <ul class="nav navbar-nav">
        <li><%= link_to("Sale Items", sale_items_path) %></li>
        <li><%= link_to("Wish List", wishlists_path) %></li>
        <li><%= link_to("Address Book", addresses_path) %></li>
          <li> <%= link_to("Categories", categories_path) %></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="span10"><%= yield %></div>
      
    </div>
  </div>
</body>
</html>
